html, body {
    margin: 0;
    padding: 0;
    height: 700px;
    width: 1355px;
    font-family: "Lucida Grande";
    font-weight: bold;
    color: #DADFE1;
}
body{
    overflow: auto;
}
.index__wrapper{
    background: url(../img/index__background.jpg) no-repeat;
    height: 700px;
    width: 1355px;
}
.book__wrapper{
    background: url(../img/bg.jpg) no-repeat;
    height: 700px;
    width: 1355px; 
}
.studio1__wrapper{
    background: url(../img/studio1__background.jpg) no-repeat;
    height: 700px;
    width: 1355px;
}
.studio2__wrapper{
    background: url(../img/studio2__background.jpg) no-repeat;
    height: 700px;
    width: 1355px;
}
.studio3__wrapper{
    background: url(../img/studio3__background.jpg) no-repeat;
    height: 700px;
    width: 1355px;
}
a {
    color: #DADFE1;
}

/*  HEADER!!  HEADER!!  HEADER!!  HEADER!!  HEADER!!  HEADER!!  HEADER!!  HEADER!!  */
header {
    display: block;
    margin: 0;
    padding: 0;
    width: 1355px;
    height: 100px;
    }
.header__logo{
    margin: 15px 0 0 45px;
    width: 252px;
    height: 80px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: url(../img/header__logo.png) no-repeat; 
    }   
.header__logo__link{
    margin: 0;
    width: 252px;
    height: 80px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    background: url(../img/header__logo.png) no-repeat;   

}
.header__logo__link:hover{
    background: url(../img/header__logo-hover.png) no-repeat; 
}
.dropdown-top:hover { 
    text-decoration: underline;
    color:#5B9BBE;
} 
.dropdown {
    font-size: 25px;
    position: relative;
    display: inline-block; 
    width: 690px; 
    height: 90px; 
    letter-spacing: 0;
    margin: 50px 0 0 15px;
} 
.dropdown li {
    list-style: none; 
    display: inline-block; 
    vertical-align: middle; 
    outline: none;
    text-align: justify;
    margin-left: 30px;
}
.dropdown a {
    display: block;
    text-decoration: none;
    text-align: center;

}

ul.dropdown li {
    position: relative;
}

ul.dropdown,
ul.dropdown-inside {
    list-style-type: none;
    padding: 0;
}

ul.dropdown-inside {
    position: absolute;
    left: -9999px;
}

ul.dropdown li.dropdown-top:hover .dropdown-inside {
    left: 0;
    height: 20px;
    width: 400px;
    margin: 0;
    display:block;
    line-height: 15px;
}

.dropdown-inside__elem a{
    line-height:20px;
    font-size: 10px;
    letter-spacing: 4px;
    font-weight: lighter;
}
ul.dropdown li.dropdown-top:hover.dropdown-inside__elem li {

}
.dropdown-inside__elem:hover {
    color: #5B9BBE;
    text-decoration: underline;
}

.header-contacts{
    position: absolute;
    top:10px; 
    left:1000px;
    display: inline-block;
    margin:25px 0 0 70px;
    font-size: 16px;
}
.header-contacts p{
    margin-left: 30px;
    letter-spacing: 6px;
}

.header-contacts__link{
    margin-top: 0;
}

.header-contacts__link__block-fb{
    margin-left: 90px;
    display: inline-block; 
}
.header-contacts__link__block{
    margin-left: 10px;
    display: inline-block; 
}
.header-contacts__link__vk{
    display: inline-block; 
    height: 20px;
    width: 20px;
    background: url(../img/header-contacts__link__vk.png) no-repeat;
}    
.header-contacts__link__fb{
    display: inline-block; 
    height: 20px;
    width: 20px;
    background: url(../img/header-contacts__link__fb.png) no-repeat;  
}   
.header-contacts__link__ins{
    display: inline-block; 
    height: 20px;
    width: 20px;
    background: url(../img/header-contacts__link__ins.png) no-repeat;     
}   
.header-contacts__link__vk:hover{
    background: url(../img/header-contacts__link__vk-hover.png) no-repeat;
}
.header-contacts__link__fb:hover{
    background: url(../img/header-contacts__link__fb-hover.png) no-repeat;
}
.header-contacts__link__ins:hover{
    background: url(../img/header-contacts__link__ins-hover.png) no-repeat;
}



/*  CONTENT!!  CONTENT!!  CONTENT!!  CONTENT!!  CONTENT!!  CONTENT!!  CONTENT!!  CONTENT!!  */
.index__button-nav{
    display: inline-block;
    margin-top: 300px;
    height: 37px;
    width: 1355px;
}
.index__button-nav__button-left{

    margin-left: 0;
    padding: 0;
    height: 37px;
    width: 23px;
    background: url(../img/button-left.png) no-repeat;
    display: inline-block;
}
.index__button-nav__button-right{
    margin-left: 0;
    padding: 0;
    height: 37px;
    width: 23px;
    background: url(../img/button-right.png) no-repeat;
    display: inline-block;
    float: right;
}
.index__button-nav__button-left:hover{
    background-color: #1C66A7; 
}
.index__button-nav__button-right:hover{
    background-color: #1C66A7;
}


.sidebar{
    font-size:14px;
    position: fixed;
    top: 0;
    left: 0;
    width: 340px;
    height: 700px;
    background: url(../img/studio1__sidebar.jpg) no-repeat;
}
.key{
    position: relative;
    height: 30px;
    width: 150px;
    border-bottom: 5px solid #1C66A7;
    background-color: #5C9CBF;
    color: #2E4354;
    font-weight: bold;
}
.key:hover{
    color: #1A4C7F;
    background-color:#11131F; 
}
h4 {
    text-align:  center;
}
p {
    font-family: "Lucida Grande";
    padding: 0 10px;
    margin: 0;
}
.sidebar__key-reserv{
    margin-left: 150px;
}

.sidebar__key-more{
    margin: 10px 0 0 80px;
}
.sidebar__key-close{
    margin: 50px 0 0 0;
    padding: 0;
    width: 40px;
    height: 35px;
    font-size: 30px;
    background-color: #1C66A7;
    color: #5C9CBF;
    font-weight: bold;
    border: none;

}
.studio__button-nav{
    display: block;
    margin-top: 0;
    height: 37px;
    width: 1355px;
}

.studio__button-nav__button-left{
    display: inline-block;
    margin-left: 340px;
    padding: 0;
    height: 37px;
    width: 23px;
    background: url(../img/button-left.png) no-repeat;
}
.studio__button-nav__button-right{
    display: inline-block;
    margin-left: 960px;
    padding: 0;
    height: 37px;
    width: 23px;
    background: url(../img/button-right.png) no-repeat;
}
.studio__button-nav__button-left:hover{
    background-color: #1C66A7; 
}
.studio__button-nav__button-right:hover{
    background-color: #1C66A7;
}


.book__filling{
    position: absolute;
    top:150px;
    left: 220px;
    width:950px;
    height: 500px;
    font-size: 0px;
}
.book__graph{
    position: relative;
    display: inline-block;
    vertical-align: top;
    height:450px;
    width: 700px;
    background: url(../img/book__graph.png) no-repeat;
}
.book__reserve{
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 0 0 0 -30px;
    height:180px;
    width: 250px;
    background-color:#11131F;
    padding: 240px 0 30px 10px;
    font-size: 16px;

}
.book__reserve__field{
    border-radius: 0;
    height: 25px;
    width: 215px;
    margin: 0 0 10px 10px;
    text-align: center;
}
.book__key-reserv{
    height: 40px;
    text-align: center;
    margin: 30px 0 0 45px;
}


.contacts__map{
    background: url(../img/contacts__map.png) no-repeat;
}
.contacts__text{
    font-size: 14px;
    padding: 20px 10px;
    height: 410px;
}
.contacts__text h4{
    margin: 5px;
    padding: 0;
}
.contacts__text p{
    margin: 0;
    padding: 0;
}


footer{
    width: 1355px;
    text-align:  center;
    margin-top: -25px;
}
